:root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Tokens */
  --text: #000;
  --background: #edeffd;

  /*  */
  --table-wrapper: #fff;
  --table-stripes: #dee2e638;
  --table-highlight: #f1f3f5;
  --table-border: #eee;
  --table-column-border: #eee;
  --table-row-border: #eee;
}

.av-theme-dark {
  --text: #eee;
  --background: #000;

  --table-wrapper: #2e2c2c;
  --table-stripes: #1312126b;
  --table-highlight: #353636;
  --table-border: #eee;
  --table-column-border: #eee;
  --table-row-border: #eee;
}

body {
  background: var(--background);
  color: var(--text);
  max-width: 1140px;
  margin: 0 auto;
  padding: 50px 0;
}

/* Generic styles */
.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.padding-xs {
  padding: 10px;
}

.padding-sm {
  padding: 12px;
}

.padding-md {
  padding: 16px;
}

.padding-lg {
  padding: 20px;
}

.padding-xl {
  padding: 32px;
}
